* {
    margin: 0;
    padding: 0;
}
.App {
    background-color: pink;
    height: 100vh;
    width: 100%;
}
.todo-container {
    background-color: #3c424a;
    width: 400px;
    height: 500px;
    transform: translate(450px, 50px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.whole-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 28%;
    top: 10%;
    /* transform: translate(40%, 100%); */
}
.days {
    font-size: 24px;
    color: white;
}
.date {
    font-size: 18px;
    padding-left: 5px;
    color: #737c8685;
}
.arrow {
    font-size: 30px;
    color: #737c8685;
}
.deadline {
    width: 100px;
    padding: 0 10px;
}
.input-container {
}
.todo-input {
    margin-top: 120px;
    width: 60%;
    height: 34px;
    margin-left: 10%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    background-color: #262a2e;
    color: #444b55;
    padding-left: 40px;
}
.todo-input:focus {
    outline: none;
}

.icon {
    margin-top: 120px;
    position: absolute;
    left: 12%;
    top: 10px;
    color: #444b55;
}
.plus {
    padding: 8.8px 12px;
    border: none;
    text-align: center;
    background-color: #262a2e;
    color: #444b55;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.plus:hover {
    background-color: #418362;
}
.map-part {
    width: 80%;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 20px;
}
.input-checkbox {
    margin-right: 10px;
    padding: 4px;
}
.dots {
    position: absolute;
    right: 50px;
}
.input-option {
    width: 88px;
    padding: 2px;
    background-color: #444b55;
    position: absolute;
    right: 50px;
    border-radius: 2px;
}
.pin {
    font-size: 14px;
    padding: 2px 0;
    cursor: pointer;
}
.sub-table:hover {
    background-color: rgb(104, 104, 104);
}
.pin-icon {
    font-size: 10px;
    padding-top: 6px;
    margin-right: 2px;
}
.sub-table {
    display: flex;
}
.delete-modal {
    position: absolute;
    top: 0;
    left: 42%;
    border: 0.5px solid rgba(128, 128, 128, 0.199);
    /* padding: 4px 10px; */
    width: 230px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.modal-body {
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
    text-align: center;
    padding: 5px;
}
.modal-footer {
    padding-top: 10px;
    text-align: right;
    padding-right: 10px;
}
.yes {
    margin-right: 10px;
    background-color: #415b83;
    border: none;
    padding: 2px 8px;
}
.no {
    background-color: #be10275d;
    padding: 2px 10px;
    border: none;
}
